{{ password.value }}
<nb-card>
  <nb-card-header>
    <nav class="navigation">
      <a href="#" class="link">
        <nb-icon
          icon="arrow-back"
          [options]="{ animation: { type: 'pulse' } }"
        ></nb-icon>
      </a>
    </nav>
  </nb-card-header>
  <nb-card-body>
    <div class="auth">
      <div class="login">
        <h1 id="title" class="title">Change password</h1>
        <p class="sub-title">
          Please set a new password
        </p>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <div formGroupName="passwordGroup">
            <div class="form-group">
              <label for="password" class="label">Password</label>
              <input
                type="password"
                nbInput
                fullWidth
                fieldSize="large"
                id="password"
                placeholder="Password"
                autocomplete="off"
                formControlName="password"
                [ngClass]="{ 'status-danger': formErrors.password }"
                (blur)="
                  customValidators.validateAllFormFields(
                    resetForm,
                    this.formErrors
                  )
                "
              />
              <span class="errors text-danger" *ngIf="formErrors.password">
                <span *ngFor="let error of getErrors(formErrors.password)">
                  {{ error }}
                </span>
              </span>
            </div>
            <div class="form-group">
              <label for="confirmPassword" class="label"
                >Comfirm password</label
              >
              <input
                type="password"
                nbInput
                fullWidth
                fieldSize="large"
                id="confirmPassword"
                placeholder="Comfirm password"
                autocomplete="off"
                formControlName="confirmPassword"
                [ngClass]="{
                  'status-danger':
                    formErrors.confirmPassword || formErrors.passwordGroup
                }"
                (blur)="
                  customValidators.validateAllFormFields(
                    resetForm,
                    this.formErrors
                  )
                "
              />
              <!-- Password group errors text -->
              <span
                *ngIf="formErrors.confirmPassword || formErrors.passwordGroup"
              >
                <div *ngIf="formErrors.confirmPassword; else elseBlock">
                  <span
                    class="errors text-danger"
                    *ngFor="let error of getErrors(formErrors.confirmPassword)"
                  >
                    <span>{{ error }}</span>
                  </span>
                </div>
                <ng-template #elseBlock>
                  <span
                    class="errors text-danger"
                    *ngFor="let error of getErrors(formErrors.passwordGroup)"
                  >
                    <span>{{ error }}</span>
                  </span>
                </ng-template>
              </span>

              <!-- end passwordgroup error text -->
            </div>
          </div>
          <button
            type="submit"
            status="primary"
            nbButton
            size="large"
            fullWidth
            outline
            [disabled]="resetForm.invalid"
          >
            Reset password
          </button>
        </form>

        <section class="sign-in-or-up">
          <a routerLink="../login" class="text-link">Back to Log In</a>
          <a routerLink="../register" class="text-link">Register</a>
        </section>
      </div>
    </div>
  </nb-card-body>
</nb-card>
