<a [routerLink]="" [nbContextMenu]="itemss">bob</a>
<br />
<br />
<br />

<span>
  <app-scedule-header
    class="sticky"
    [(view)]="view"
    [(viewDate)]="viewDate"
    (viewDateChange)="fetchEvents()"
    (viewChange)="fetchEvents()"
    (daysInWeek)="(daysInWeek)"
    [locale]="locale"
    [excludeDays]="excludeDays"
  >
  </app-scedule-header>

  <nb-card>
    <nb-card-body>
      <div *ngIf="events$ | async; else loading; let events">
        <div [ngSwitch]="view">
          <mwl-calendar-month-view
            *ngSwitchCase="CalendarView.Month"
            [viewDate]="viewDate"
            [locale]="locale"
            [weekStartsOn]="weekStartsOn"
            [events]="events"
            [refresh]="refresh"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day, dialog)"
            (eventClicked)="eventClicked($event.event, dialog)"
          >
          </mwl-calendar-month-view>

          <mwl-calendar-week-view
            *ngSwitchCase="CalendarView.Week"
            [viewDate]="viewDate"
            [daysInWeek]="daysInWeek"
            [locale]="locale"
            [dayStartHour]="startHour"
            [dayEndHour]="endHour"
            [events]="events"
            [refresh]="refresh"
            (eventClicked)="eventClicked($event.event, dialog)"
            (dayHeaderClicked)="changeDayView($event.day.date, 'd')"
            [hourSegments]="3"
            (hourSegmentClicked)="hourSegmentClicked($event.date, dialog)"
          >
          </mwl-calendar-week-view>

          <mwl-calendar-day-view
            *ngSwitchCase="CalendarView.Day"
            [viewDate]="viewDate"
            [locale]="locale"
            [dayStartHour]="startHour"
            [events]="events"
            [refresh]="refresh"
            [dayEndHour]="endHour"
            (eventClicked)="eventClicked($event.event, dialog)"
            [hourSegments]="4"
            (hourSegmentClicked)="hourSegmentClicked($event.date, dialog)"
          >
          </mwl-calendar-day-view>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</span>

<!-- -- gebruik content projection -->
<ng-template #dialog let-data let-ref="dialogRef">
  <div class="row scedule">
    <!-- show -->
    <nb-card *ngIf="viewType === 'show'">
      <nb-card-header>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="ref.close()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <div *ngIf="!isRepeated" class="deleteSingle close">
          <a [routerLink]="" (click)="onDelete(-1); ref.close()">
            <nb-icon icon="trash-2-outline"></nb-icon>
          </a>
        </div>
        <!-- # deleting scedule -->
        <div
          *ngIf="isRepeated"
          class="btn-group close deleteMulti"
          dropdown
          [isAnimated]="true"
        >
          <button dropdownToggle>
            <nb-icon icon="trash-2-outline"></nb-icon>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem">
              <a
                class="dropdown-item"
                [routerLink]=""
                (click)="onDelete(0); ref.close()"
              >
                Delete entire scedule</a
              >
            </li>
            <li role="menuitem">
              <a
                class="dropdown-item"
                [routerLink]=""
                (click)="onDelete(1); ref.close()"
              >
                Delete only this occurence
              </a>
            </li>
            <li role="menuitem">
              <a
                class="dropdown-item"
                [routerLink]=""
                (click)="onDelete(2); ref.close()"
              >
                Delete all but this occurence
              </a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a
                class="dropdown-item"
                [routerLink]=""
                (click)="onDelete(3); ref.close()"
              >
                Delete all occurence after this occurence
              </a>
            </li>
            <li role="menuitem">
              <a
                class="dropdown-item"
                [routerLink]=""
                (click)="onDelete(4); ref.close()"
              >
                Delete all occurence before this occurence
              </a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a class="dropdown-item" [routerLink]="" (click)="onDelete(5)">
                Delete all occurence equal or after this occurence
              </a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" [routerLink]="" (click)="onDelete(6)">
                Delete all occurence equal or before this occurence
              </a>
            </li>
          </ul>
        </div>
      </nb-card-header>
      <nb-card-body id="showCardBody">
        <div id="showScedule">
          <div class="row titleDate">
            <span class="title">subject: {{ subject.value }}</span>
            <div class="date">
              {{ data.date }}<span class="dot">&middot;</span>
              {{ beginTime.value | date: "HH:mm" }} &ndash;
              {{ endTime.value | date: "HH:mm" }}
            </div>
          </div>
          <div class="row location">
            <span class="right">classroom: {{ classroom.value }} </span>
          </div>
          <div class="row type">
            <!-- <nb-icon icon="options-2-outline"></nb-icon> -->
            <span class="type">Type: {{ type.value }}</span>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button class="edit" nbButton fullWidth (click)="viewType = 'edit'">
          Edit
        </button>
      </nb-card-footer>
    </nb-card>
    <!-- edit and add -->
    <nb-card
      size="giant"
      *ngIf="viewType === 'add' || viewType === 'edit'"
      [ngClass]="repeated ? 'editAddSizeGiant' : 'editAddSizeLarge'"
    >
      <nb-card-header>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="ref.close()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <span *ngIf="viewType === 'add'">
          Add scedule
        </span>
        <span *ngIf="viewType === 'edit'">
          Edit scedule
        </span>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="sceduleForm" (ngSubmit)="onSubmit(); ref.close()">
          <div class="form-group">
            <label class="label">Subject</label>
            <!-- todo maybe use autoComplete functionanlity -->
            <nb-select
              fullWidth
              formControlName="subject"
              placeholder="subject"
            >
              <nb-option
                [value]="subject._id"
                *ngFor="let subject of subjectNames$ | async"
              >
                {{ subject.name }}
              </nb-option>
            </nb-select>
          </div>
          <label class="label">Type</label>
          <div class="form-group">
            <nb-select
              fullWidth
              formControlName="type"
              placeholder="Select type"
            >
              <nb-option [value]="type" *ngFor="let type of taskTypes">
                {{ type }}
              </nb-option>
            </nb-select>
          </div>

          <div class="row">
            <!-- begin date -->
            <div class="col-md-4">
              <div class="form-group">
                <label class="label">begin date</label>
                <input
                  nbInput
                  fullWidth
                  placeholder="Begin date"
                  formControlName="beginDate"
                  bsDatepicker
                  (bsValueChange)="onBeginDateValueChange$($event)"
                  [dateCustomClasses]="dateCustomClasses"
                  [minDate]="minbeginDate"
                  [bsConfig]="bsConfig"
                />
              </div>
            </div>
            <!-- begin time  -->
            <div class="col-md-4 timeMang">
              <div class="form-group">
                <timepicker
                  formControlName="beginTime"
                  [showMeridian]="false"
                  [minuteStep]="minuteStep"
                  (ngModelChange)="minEndTimeValueChanged$()"
                ></timepicker>
              </div>
              <span class="ndash">&ndash;</span>
              <!-- End time  -->
              <div class="form-group">
                <timepicker
                  formControlName="endTime"
                  [showMeridian]="false"
                  [minuteStep]="minuteStep"
                  [min]="minEndTime"
                ></timepicker>
              </div>
            </div>

            <!-- end date -->
            <div class="col-xs-12 col-12 col-md-4">
              <div class="form-group">
                <label class="label">end date</label>
                <input
                  nbInput
                  fullWidth
                  formControlName="endDate"
                  placeholder="end date"
                  bsDatepicker
                  [minDate]="minEndDate"
                  [bsConfig]="bsConfig"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <span class="col-md-12 checkRecur">
              <nb-checkbox (checkedChange)="repeated = !repeated"
                >Recurring</nb-checkbox
              >
            </span>
          </div>

          <fieldset id="recuring" *ngIf="repeated">
            <legend>recurring days</legend>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="label">Select weekday</label>
                  <nb-select
                    fullWidth
                    multiple
                    formControlName="recurWeekDay"
                    placeholder="Weekday"
                  >
                    <nb-option
                      [value]="weekday.day"
                      *ngFor="let weekday of weekDays"
                    >
                      {{ weekday.name }}
                    </nb-option>
                  </nb-select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="label">classroom</label>
                  <input nbInput fullWidth placeholder="classroom" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="label">classroom</label>
                  <input nbInput fullWidth placeholder="classroom" />
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group">
            <label class="label">classroom</label>
            <input
              nbInput
              fullWidth
              formControlName="classroom"
              placeholder="classroom"
            />
          </div>

          <button type="submit" nbButton fullWidth>
            Submit
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</ng-template>
<ng-template #loading>
  <div class="text-center">
    Loading events...
  </div>
</ng-template>
