<span>
  <app-scedule-header
    class="sticky"
    [(view)]="view"
    [(viewDate)]="viewDate"
    (viewDateChange)="fetchEvents()"
    (viewChange)="fetchEvents()"
    (daysInWeek)="(daysInWeek)"
    [locale]="locale"
    [excludeDays]="excludeDays"
  >
  </app-scedule-header>

  <nb-card>
    <nb-card-body>
      <div *ngIf="events$ | async; else loading; let events">
        <div [ngSwitch]="view">
          <mwl-calendar-month-view
            *ngSwitchCase="CalendarView.Month"
            [viewDate]="viewDate"
            [locale]="locale"
            [weekStartsOn]="weekStartsOn"
            [events]="events"
            [refresh]="refresh"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day, dialog)"
            (eventClicked)="eventClicked($event.event, dialog)"
          >
          </mwl-calendar-month-view>

          <mwl-calendar-week-view
            *ngSwitchCase="CalendarView.Week"
            [viewDate]="viewDate"
            [daysInWeek]="daysInWeek"
            [locale]="locale"
            [dayStartHour]="startHour"
            [dayEndHour]="endHour"
            [events]="events"
            [refresh]="refresh"
            (eventClicked)="eventClicked($event.event, dialog)"
            (dayHeaderClicked)="changeDayView($event.day.date, 'd')"
            [hourSegments]="3"
            (hourSegmentClicked)="hourSegmentClicked($event.date, dialog)"
          >
          </mwl-calendar-week-view>

          <mwl-calendar-day-view
            *ngSwitchCase="CalendarView.Day"
            [viewDate]="viewDate"
            [locale]="locale"
            [dayStartHour]="startHour"
            [events]="events"
            [refresh]="refresh"
            [dayEndHour]="endHour"
            (eventClicked)="eventClicked($event.event, dialog)"
            [hourSegments]="4"
            (hourSegmentClicked)="hourSegmentClicked($event.date, dialog)"
          >
          </mwl-calendar-day-view>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</span>

<!-- -- gebruik content projection -->
<ng-template #dialog let-data let-ref="dialogRef">
  <div class="row scedule">
    <nb-card>
      <nb-card-header>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="ref.close()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <span *ngIf="viewType === 'add'">
          Add scedule
        </span>
      </nb-card-header>
      <nb-card-body id="showCardBody" *ngIf="viewType === 'show'">
        <div id="showScedule">
          <div class="row titleDate">
            <span class="title">subject: {{ subject.value }}</span>
            <div class="date">
              {{ data.date }}<span class="dot">&middot;</span>
              {{ beginTime.value | date: "HH:mm" }} &ndash;
              {{ endTime.value | date: "HH:mm" }}
            </div>
          </div>
          <div class="row location">
            <span class="right">classroom: {{ classroom.value }} </span>
          </div>
          <div class="row type">
            <!-- <nb-icon icon="options-2-outline"></nb-icon> -->
            <span class="type">Type: {{ type.value }}</span>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer *ngIf="viewType === 'show'">
        <button class="edit" nbButton fullWidth (click)="viewType = 'edit'">
          Edit
        </button>
      </nb-card-footer>
      <!-- //////////////////////////////////// -->
      <nb-card-body *ngIf="viewType === 'add' || viewType === 'edit'">
        <form [formGroup]="sceduleForm" (ngSubmit)="onSubmit(); ref.close()">
          <div class="form-group">
            <label class="label">Subject</label>
            <!-- todo maybe use autoComplete functionanlity -->
            <nb-select
              fullWidth
              formControlName="subject"
              placeholder="subject"
            >
              <nb-option
                [value]="subject._id"
                *ngFor="let subject of subjectNames$ | async"
              >
                {{ subject.name }}
              </nb-option>
            </nb-select>
          </div>
          <label class="label">Type</label>
          <div class="form-group">
            <nb-select
              fullWidth
              formControlName="type"
              placeholder="Select type"
            >
              <nb-option [value]="type" *ngFor="let type of taskTypes">
                {{ type }}
              </nb-option>
            </nb-select>
          </div>

          <div class="row">
            <!-- begin date -->
            <div class="col-md-4">
              <div class="form-group">
                <label class="label">begin date</label>
                <input
                  nbInput
                  fullWidth
                  placeholder="Begin date"
                  formControlName="beginDate"
                  bsDatepicker
                  (bsValueChange)="onBeginDateValueChange$($event)"
                  [dateCustomClasses]="dateCustomClasses"
                  [minDate]="minbeginDate"
                  [bsConfig]="bsConfig"
                />
              </div>
            </div>
            <!-- begin time  -->
            <div class="col-md-4 timeMang">
              <div class="form-group">
                <timepicker
                  formControlName="beginTime"
                  [showMeridian]="false"
                  [minuteStep]="minuteStep"
                  (ngModelChange)="minEndTimeValueChanged$()"
                ></timepicker>
              </div>
              <span class="ndash">&ndash;</span>
              <!-- End time  -->
              <div class="form-group">
                <timepicker
                  formControlName="endTime"
                  [showMeridian]="false"
                  [minuteStep]="minuteStep"
                  [min]="minEndTime"
                ></timepicker>
              </div>
            </div>

            <!-- end date -->
            <div class="col-xs-12 col-12 col-md-4">
              <div class="form-group">
                <label class="label">end date</label>
                <input
                  nbInput
                  fullWidth
                  formControlName="endDate"
                  placeholder="end date"
                  bsDatepicker
                  [minDate]="minEndDate"
                  [bsConfig]="bsConfig"
                />
              </div>
            </div>
          </div>
          <nb-checkbox>Toggle me</nb-checkbox>
          <fieldset id="recuring">
            <legend>recurring days</legend>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="label">Select weekday</label>
                  <nb-select
                    fullWidth
                    multiple
                    formControlName="recurWeekDay"
                    placeholder="Weekday"
                  >
                    <nb-option
                      [value]="weekday.day"
                      *ngFor="let weekday of weekDays"
                    >
                      {{ weekday.name }}
                    </nb-option>
                  </nb-select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="label">classroom</label>
                  <input nbInput fullWidth placeholder="classroom" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="label">classroom</label>
                  <input nbInput fullWidth placeholder="classroom" />
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group">
            <label class="label">classroom</label>
            <input
              nbInput
              fullWidth
              formControlName="classroom"
              placeholder="classroom"
            />
          </div>

          <button type="submit" nbButton fullWidth>
            Submit
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</ng-template>
<ng-template #loading>
  <div class="text-center">
    Loading events...
  </div>
</ng-template>
