//reuse this, kan korter
nb-card {
  margin: 0;
  height: calc(100vh - 2 * 5.5rem);
}
nb-card-body {
  display: flex;
  width: 100%;
}
.link {
  display: inline-block;
  text-decoration: none;
  nb-icon {
    font-size: 2rem;
    vertical-align: middle;
  }
}

.auth {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 35rem;
}
.title {
  margin-top: 0;
  margin-bottom: 0.75rem;
  text-align: center;
}

.sub-title  {
  margin-bottom: 2rem;
  text-align: center;
}
