.form-inline [fullWidth] {
  flex: 1;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}

.col-center {
  margin: 0 auto;
}
.form-control{
  height: auto;
}
// herhaalbaar => check SCSS docu 
.is-invalid {
  // border-color: #dc3545;
  // padding-right: calc(1.5em + 0.75rem);
  background-color: #f7f9fc !important;
  border-color: #ff3d71 !important;
  height: auto;
}
.text-danger {
  color:#e83e8c!important;
}

.form-group.required .control-label:after {
  content:"*";
  color:#e83e8c !important;
  margin-left: 0.25rem;
}
