.form-inline [fullWidth] {
  flex: 1;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}

.col-center {
  margin: 0 auto;
}
.form-control {
  height: auto;
}
// herhaalbaar => check SCSS docu
.is-invalid {
  // border-color: #dc3545;
  // padding-right: calc(1.5em + 0.75rem);
  background-color: #f7f9fc !important;
  border-color: #ff3d71 !important;
  height: auto;
}
textarea {
  min-height: 10rem;
  height: 13rem;
}
.text-danger {
  color: #e83e8c !important;
}

.form-group.required .control-label:after {
  content: "*";
  color: #e83e8c !important;
  margin-left: 0.25rem;
}

nb-icon {
  font-size: 1.35rem;
  line-height: 2;
  width: 2em;
  height: 2em;
}

.options {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-top: 1px solid #edf1f7;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

