<div class="row">
  <div class="col-md-12 col-lg-8 col-xxxl-8 col-center">
    <nb-card class="list-card">
      <nb-card-header class="text-center">Education List</nb-card-header>
      <nb-card-body>
        <div class="table-responsive{-sm|-md|-lg|}">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Begin Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Total Year</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let edu of eduList">
                <th scope="row">{{ edu.name }}</th>
                <td>{{ edu.begin_date | date: "dd.MM.yyyy" }}</td>
                <td>{{ edu.end_date | date: "dd.MM.yyyy" }}</td>
                <td>{{ edu.total_years }}</td>
                <td>
                  <div
                    class="btn-toolbar"
                    role="toolbar"
                    aria-label="Toolbar with button edit en delete action"
                  >
                    <a
                      role="group"
                      class="mr-2"
                      nbButton
                      status="primary"
                      [routerLink]="['edit', edu._id]"
                    >
                      edit
                    </a>
                    <button
                      role="group"
                      class="mr-2"
                      nbButton
                      status="danger"
                      (click)="deleteEdu(edu._id)"
                    >
                      delete
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <p class="text-center" *ngIf="eduList.length === 0">
          No education available
        </p>
      </nb-card-body>
    </nb-card>
  </div>
</div>
