<nb-card class="registerCard" *ngIf="!sendLink; else elseBlock">
  <nb-card-header>
    <nav class="navigation">
      <a href="#" class="link">
        <nb-icon
          icon="arrow-back"
          [options]="{ animation: { type: 'pulse' } }"
        ></nb-icon>
      </a>
    </nav>
  </nb-card-header>
  <nb-card-body>
    <div class="auth">
      <div class="login">
        <h1 id="title" class="title">Forgot Password</h1>
        <p class="sub-title">
          Enter your email address and we’ll send a link to reset your password
        </p>
        <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email" class="label">Enter your email address:</label>
            <input
              type="email"
              nbInput
              fullWidth
              id="email"
              placeholder="Email"
              fieldSize="large"
              formControlName="email"
              [ngClass]="{ 'status-danger': formErrors.email }"
              (blur)="
                customValidators.validateAllFormFields(
                  requestForm,
                  this.formErrors
                )
              "
            />
            <span class="errors text-danger" *ngIf="formErrors.email">
              <span *ngFor="let error of getErrors(formErrors.email)">
                {{ error }}
              </span>
            </span>
          </div>
          <button
            type="submit"
            status="primary"
            nbButton
            size="large"
            fullWidth
            outline
            [disabled]="requestForm.invalid"
          >
            Request new password
          </button>
        </form>

        <section class="sign-in-or-up">
          <a routerLink="../login" class="text-link">Back to Log In</a>
          <a routerLink="../register" class="text-link">Register</a>
        </section>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #elseBlock>
  <nb-card class="sendLinkCard">
    <nb-card-header>
      <nav class="navigation">
        <a href="#" class="link">
          <nb-icon
            icon="arrow-back"
            [options]="{ animation: { type: 'pulse' } }"
          ></nb-icon>
        </a>
      </nav>
    </nb-card-header>
    <nb-card-body>
      <div class="auth">
        <div class="register">
          <h1 id="title" class="title">Forgot password</h1>
          <p>
            A reset link has been send to your email.
          </p>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>
