<nb-card>
  <nb-card-header>
    <nav class="navigation">
      <a href="#" class="link">
        <nb-icon
          icon="arrow-back"
          [options]="{ animation: { type: 'pulse' } }"
        ></nb-icon>
      </a>
    </nav>
  </nb-card-header>
  <nb-card-body>
    <div class="auth">
      <div class="login">
        <h1 id="title" class="title">Forgot Password</h1>
        <p class="sub-title">
          Enter your email address and we’ll send a link to reset your password
        </p>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email" class="label">Enter your email address:</label>
            <input
              type="email"
              nbInput
              fullWidth
              id="email"
              placeholder="Email"
              fieldSize="large"
              formControlName="email"
            />
          </div>
          <button
            type="submit"
            status="primary"
            nbButton
            size="large"
            fullWidth
          >
            Request new password
          </button>
        </form>

        <section class="sign-in-or-up">
          <a routerLink="../login" class="text-link">Back to Log In</a>
          <a routerLink="../register" class="text-link">Register</a>
        </section>
      </div>
    </div>
  </nb-card-body>
</nb-card>
